[defaults]
inventory = inventory/aws_ec2.yml
host_key_checking = False
private_key_file = ~/.ssh/devops-automation-key
remote_user = ubuntu
stdout_callback = yaml
callbacks_enabled = profile_tasks, timer

[inventory]
enable_plugins = aws_ec2

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = True